body{
    direction: rtl;
    background-color: #f1f1f1;
     margin: 0;
      text-align: center;
 
    
}
div.main{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 40%;
    background-color:rgb(171, 192, 233);
text-align: right;    

}
header.menu{ 
display: inline-block;
   background-color:rgb(171, 192, 233);
   text-align: right;    
 width: 80%;
 

}
footer.footer-main{
    display: inline-block;
   background-color:rgb(171, 192, 233);
   text-align: center;    
 width: 80%;
 position: relative;
 bottom: 10px;
 z-index: -2;
}
li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 14px 16px;
 
}

ul.main_ul{
   margin: 0;
   padding: 0;
   overflow: hidden;
   list-style-type: none;
     text-align: right;
     font-weight: bold;
     

}

li{
    display: inline-block;
}
li a:hover{
    color: rgb(248, 248, 248);
    background-color: rgb(82, 0, 214);
    text-decoration:none;
    cursor: pointer;
}
section.pic{
    width: 80%;
    height: 15%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
bottom: 3px;
transition: width 4s,height 4s ,transform 2s;

}
[class=section-pic]:hover{

    transform: scale(1.2,1.2);
    z-index: 2;
    
}
img.pic_menu{
    width: 100%;
    height: 260px;
    border-radius: 0;
     margin:0;
      position: relative;
}
div.menu_2{
    display: inline-block;
   text-align: right;    
    width: 80%;
    background-color: rgb(92, 139, 233);
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 6px;
}
ul.main_ul_2{
    margin: 0;
   padding: 0;
   overflow: hidden;
   list-style-type: none;
     text-align: right;
     font-weight: bold;
     
}



div.section_div{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 300px;
    background-color: rgb(107, 91, 248);
    border: 4px black;
    position: relative;
    bottom: 10px;
}
section.section_class{
width: 100px;
height: 100px;
border: black 2px;
margin-right: 0;
margin-top: 0;
}
p.p_qulity{
    text-align: right;
     margin-top: 0;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
div.pic_section{
width: 85%;
height: 170px;
margin-right: 60px;
margin-left: 60px;
 text-align: center;

}
img{
width: 200px;
height: 170px;
border-radius: 25px;
margin-right: 20px;
margin-left: 20px;
border: solid white 1px;
}
section.row{
    width: 80%;
  height: 80%;
    margin-right: auto;
    margin-left: auto;
	background-color: rgba(158,157,244,1.00);
    position: relative;
    bottom: 10px;
    z-index: -1;
}
div.main_div{
    width: 85%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;

}
.box{
    height: 900px;
    line-height: 10px;
    text-align: center;
    font-size: 13px;
    background-color: rgb(176, 212, 247);
    color: black;
}
main{
    width: 68%;
    margin: 0 1%;
    float: right;
}
aside{
    width: 28%;
    margin: 0 1%;
    float: right;
}
.clearfix::after,
.clearfix::before{
content: '';
display: table;
}
.clearfix::after{
    clear: both;
}
.p-top-row{
    color: rgb(0, 0, 0); 
    font-size: 30px; 
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul ul {
	display: none;
}
 
nav ul li:hover > ul {
	display: block;
}

nav ul {
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
    z-index: 100;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: right;
	position: relative;
	font-weight: bold;
}

nav ul li:hover {
	background: #3a63af;
}



nav ul li a {
	display: block;
	padding: 15px 32px;
	color: #a7a5ec;
	text-decoration: none;
}

nav ul li {
	float: right;
	position: relative;
	font-weight: bold;
}

nav ul li:hover a {
	color: rgb(255, 251, 251);
}
 
nav ul li a {
	display: block;
	padding: 15px 32px;
	color: #000000;
	text-decoration: none;
}

nav ul ul {
	background: #0e146d;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	right: 0;
	width: 200px;
}

	

nav ul ul li a {
	padding: 15px 40px;
	color: rgb(0, 0, 0);
}	
nav ul ul li a:hover {
	background: #5056b1;
}
nav ul ul ul {
	position: absolute;
	right: 100%;
	top:0;
}

article.login-ar{
    width: 400px;
    height: 500px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    border-radius: 15px;
    line-height: 70px;
}
form.lo-form{
    line-height: 30px;
    text-align: center;
    direction: ltr;
    text-align: left;
  margin-left: 40px;
  margin-right: 40px;

}
input[type=text]{
  width: 304px;
  padding: 10px 10px;
  border: none;
  border-bottom: 2px solid rgb(159, 159, 206);
  border-radius: 4px;
  
}
input[type=button]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-top: 20px;
    border-radius: 10px ;
    padding: 7px 10px;
    background-color: rgb(49, 80, 179);
    font-size: 14px;
    cursor: pointer;

    font-weight: bold;
}
input[type=button]:focus{
    cursor: pointer;
    background-color:rgb(6, 36, 138); ;
}
label{
    font-size: 15px;
    font-weight: bold;
}
a.craet-password{
cursor:pointer;
text-decoration: none;
font-size: 15px;
color: rgb(14, 107, 107);
}
table.tabel-1{
    
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(204, 204, 204);
    border: 2px double black;
    border-spacing: 1px;
    
   
  }
      
      td{
      padding:5px;
      text-align:center;
      }
      
      th{
      background-color:#3d3e8b;
      color:rgb(255, 255, 255);
      border:2px solid black;
      padding:5px;
    
      
      }
      .tr-th:hover{
        box-shadow: none;
        transform: none;
        transition: none;
    }

      tr:hover{
        color:rgb(0, 0, 0);
        box-shadow: 1px 3px 12px 1px #555;
        transform:scale(1.04);
        transition:0.7s;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2;
            }
            div.under-page-form{
                margin-left: auto;
                margin-right: auto;
                margin-top: 40px;
                width: 430px;
                height: 700px;
                background-color: rgb(201, 205, 206);
               transform: rotate(-12deg);
               border-radius: 15px;
               box-shadow: 1px 20px 15px 1px rgb(151, 147, 148);
               
            }
            div.top-page-form{
   
                margin-left: auto;
                margin-right: auto;
                margin-top: 40px;
                width: 420px;
                height: 700px;
                background-color: rgb(113, 131, 236);
                position: relative;
                bottom: 740px;
                border-radius: 14px;
                line-height: 30px;
                box-shadow: 1px 10px 12px 1px rgb(151, 147, 148);
            
            }
            article.ar-form{
                text-align: right;
                display: block;
                margin-top: 21px;
                margin-right: 15px;
                
            }
            form.re-form input[type=text]{
                width: 150px;
                height: 30px;
                border-radius: 5px;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(0, 0, 0);
                padding: 0px 30px 10px 0px;
                margin-left: 10px;
                margin-top: 12px;
                box-shadow: 1px 2px 2px 1px rgb(151, 147, 148);
               
            }
            form.re-form input[type=email]{
                width: 85%;
                height: 30px;
                border-radius: 5px;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(0, 0, 0);
                padding: 0px 30px 10px 0px;
                margin-top: 12px;
                box-shadow: 1px 2px 2px 1px rgb(151, 147, 148);
                background-image: url('image/email-icon-form.png');
                background-repeat: no-repeat;
              
                
            }
            form.re-form select{
                width: 93%;
                height: 30px;
                border-radius: 5px;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(88, 87, 87);
                box-shadow: 1px 2px 2px 1px rgb(151, 147, 148);
              
            }
            form.re-form input[type=submit]{
                width: 150px;
                height: 40px;
                border-radius: 5px;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(0, 0, 0);
                margin-top: 12px;
                box-shadow: 1px 2px 2px 1px rgb(151, 147, 148);
                position: relative;
                top: 20px;
                right: 220px;
               font-weight: bold;
               cursor: pointer;
            }
            form.re-form input[id=username]{
                background-image: url('image/person-icon-form.png');
                background-repeat: no-repeat;    
               
            }
            form.re-form input[id=phonenumber]{

                background-image: url('image/phone-icon-form.png');
                background-repeat: no-repeat;
                
                
            }
            form.re-form input[id=password]{
            
                background-image: url('image/lock-icon-form.png');
                background-repeat: no-repeat;
               
            }
            form.re-form input[id=re-password]{
            
                background-image: url('image/lock-icon-form.png');
                background-repeat: no-repeat;
                
               
            }
            .ar-form a{
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
            .ar-form a:hover{
                color: rgb(247, 251, 252);
            }